.school-header {
    background: rgb(70, 12, 146);
}
.end {
    justify-items: end !important;
}
.end1 {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: rgb(159, 109, 252);
    border-radius: 20px;
}
.pt-120.head{
    color: rgb(34, 27, 139);
    font-weight: 500;
}
.primary-btn.text-uppercase.text {
    background: rgb(222, 238, 5);
    color: rgb(70, 12, 146);
    margin-left: 19px;
    font-weight: 600;
    box-shadow: 0px 10px 50px 0px rgba(26, 23, 23, 0.3)
}
.col-lg-12.partners.pt-30 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 20px;
    color: #222;
}
.partner.pt-20{
    background: #222222 !important;
}
.black {
    color: black !important;
}
.register {
    color: rgb(70, 12, 146);
    font-weight: 300;
    font-size: 40px;
    margin-right: -100px; 
    margin-top: 150px;
} 
.form-control.grey {
    background: rgb(199, 195, 195);
    color: #000 !important;
}
.pt-120{
    padding-left: 20px;
}
.image {
    padding-top: 60pt;

}
#register {
    font-size: 20px;
    font-weight: 300;
    color: rgb(70, 12, 146);
    text-align: center;
}
.sub-register{
    text-align: center;
    color: rgb(70, 12, 146);
    margin-left: 50px;
    font-size: 25px;
    padding-top: 10px;
}
.sub-register b {
    color: #000;
    text-transform: uppercase;
    color: rgb(70, 12, 146);
    font-weight: 600;
}
.register-form {
    margin-left: 50px;
    padding-top: 30px;
}
.register-form input {
    background: #c2bdbd;
    color: #000;
}
.school-select{
    height: 35px; 
    border: 2px solid blueviolet;
    background: #fff;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 50px;
}
#more {
    color: rgb(70, 12, 146);
    font-weight: 500;
}
#button{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-weight: bold;
}

 #main-header {
font-size: 50px;
color:#212293;
font-family: 'Montserrat', sans-serif;
margin-top:115px;
text-align: center;
}
/*
.log-in{
    height: 300px;
    margin-top: 60px;
  
}
.btn{
    width: 250px;
    height: 55px;
    margin: auto;
    border-radius: 9px;
    font-size: 12px;
    border:none;
    
}
.fa{
    float:left;
    top:10px;
    color:white;
}
.facebook{
    background-color:#3B5998;
}
.twitter{
    background-color:#1DA1F2;
}
.google{
    background-color:#DB4437
}

.btn p{
    padding-top: 10px;
    text-align: 40px;
    color:white;
}

.line {
    border-left: 1px solid #DCDCDC;
    height: 270px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top:70px;
}
.circle{
   
    border:1px solid #DCDCDC;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 65px;
    bottom: 130px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control  {
    background: rgb(199, 195, 195);
    margin:15px -30px 0;
    padding: 15px 25px;
    border-radius: 8px;
}
.password  {
    
    margin-top:-35px;
    }
.login{
    width:120px;
    margin-right:60px;
    margin-top: -14px;
    background:#FF5A5F;
    color: white;
}
.login h2{
    color:white;
}
.custom-control-label::before, 
.custom-control-label::after {

padding:10px
}
label{
    padding-top: 5px;
    margin-right: 5px;
    width:120px;
}
.main{
    width:800px;
}  
    
.submit{
    margin-bottom:20px;
} */



.main {
    
    height: 400px;
    width: 60vw;
    margin:auto;
    
    
}
.log-in .btn{
    width: 300px;
    height: 65px;
    margin: auto;
    border-radius: 9px;
    font-size: 12px;
    border:none;
    
}
.log-in .fa{
    float:left;
    top:10px;
    color:white;
}
.facebook{
    background-color:#3B5998;
}
.twitter{
    background-color:#1DA1F2;
}
.google{
    background-color:#DB4437
}

.log-in .btn p{
    padding-top: 13px;
    font-size: 17px;
    color:white;
}
.log-in{
    margin-top:50px;
    height: 70%;
    width:450px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    
}
.line {
    border-left: 1px solid #DCDCDC;
    height: 250px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top:68px;
}
.circle{
   
    border:1px solid #DCDCDC;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 38px;
    top: 165px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .form-control  {
    background: rgb(199, 195, 195);
    padding: 23px 30px;
    border-radius: 8px;
    margin-left: 35px;
} */

#form-grey {
    background: rgb(199, 195, 195);
    padding: 23px 30px;
    border-radius: 8px;
    margin-left: 35px;
}
.user{
    margin-top: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:px;
    width:100%;
    margin-left: 20px;
    justify-content: space-between;
}
.login{
    width: 180px;
    background-color:#FF5A5F;
    
}
.login h2{
    color:white;
    padding-top: 6px;
}

.custom-control-label::before, 
.custom-control-label::after {

padding:12px;
margin-top:15px;
}
label{
    padding-left:10px;
    padding-top:20px;
}
.line2{
    height: 25px;
    top:282px;
    left:160px;
}
.reg{
    color:#FF5A5F;
    margin-top: 35px;
    font-size: 1rem;
    margin-left:20px;
}
.forgot{
    margin-left: 160px;
    margin-top: -35px;
}

.grey-background{
margin-top: 110px;
background-color: #F7F7F7;
min-height:76vh;
border-radius: 15px;
padding:25px;
}
.stepa{
    
    position: absolute;
    
    
}
.everything{
    margin-top:5px;
}
.first{
    padding:11px;
    margin-top:-2px;
}
.last{
    padding:11px;
    margin-top:-2px;
}
.letter{
    width:40%;
    font-size:12px;
    color:#9096BA;
}
.letter b{
    color:#9096BA;
    letter-spacing: 2px;
    font-size: 14px;

}
.top h4{
    font-size: 12px !important;
}
.main-header{
    margin-top: 25px;
    font-size: 22px;
}
.top{
    display:flex;
    justify-content: space-between;
    
}
.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
  .step {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #9AA1FB;
    border-radius: 50%;
    transition: background 1s;
    
  }
  .step.selected {
    border: 2px solid #9AA1FB;   
  }
  .step.completed {
    border: 2px solid #9AA1FB;
    background: #9AA1FB; 
  }
  .progress {
    position: absolute;
    width: 50%;
    height: 50%;
    border-bottom: 2px solid #ACACA6;
    z-index: -1;
  }
  .percent {
    position: absolute;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #4B81BD;
    z-index: 1;
    transition: width 1s;
  }
  .main-body{
      padding: 30px 160px;
      
  }
  .main-body label{
      font-size: 18px;
      text-align: center; 
  }
  
  .containers {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #DCDCDF;
    border-radius: 30px;
    padding:15px 30px;
    
    
}

/* Hide the browser's default radio button */
.main-body input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 13px;
    left: 14px;
    height: 25px;
    width: 25px;
    background-color: #dcdcdf;
    border-radius: 50%;
    border:5px solid #B29EFE;
    
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #B29EFE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	
}
.next-button{
    background-color: #8BA4F9 ;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:170px;
    color:white;
    padding: 10px;
    margin:auto;
    border: 0;

}
.next-button:active {
    background-image: none;
    background-color:#8BA4F9;
}

.success-header{

    margin-top: 25px;
    font-size: 50px;
    font-family: 'Quicksand';
    font-style: bold;

}
.success-middle{

    margin-top: 25px;
    font-size: 36px;
    font-family: 'Quicksand';
    font-style: bold;
    margin-top: 40px;
}
.success-button{
    background-color: #8BA4F9 ;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    color:white;
    padding: 10px;
    margin:100px auto;
    border: 0;

}
.success-button:active {
    background-image: none;
    background-color:#8BA4F9;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    margin-top: 58px;
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #fff;
    position: fixed;
    height: 100%;
    z-index: 10000;
    overflow: auto;
    transition: all 0.3s cubic-bezier(.87, -.41, .19, 1.44);
    box-shadow: 0px 0px 7px rgba(55, 71, 79, 0.395409);

}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #fff;
    /* border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; */
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
    /* box-shadow: 0px 0px 7px rgba(55, 71, 79, 0.395409); */

}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  /* color: #999999; */
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  /* background: rgba(255,255,255,0.2); */
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 20px;
}

.sidebar-nav > .sidebar-brand a {
  /* color: #999999; */
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}
#sidebar {

margin-top:70px;    
}
#sidebar a{
    font-size:20px;
    padding: 20px 0;
    color:grey;
}
#sidebar a:hover{
    background-color:#EBEEF0;
}

.container.page4 {
    margin-top: 10%;
}
 .card {
    box-shadow: 0 8px 2px -2px rgb(214, 211, 211);
    padding: 20%;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    background: url(../img/bg.jpeg);
}
.card h5 {
    text-align: center;
    background: #B29EFE;
    border-radius: 5%;
    padding-left: 0px;
    padding-right: 0px;
}
 .row {
    margin-bottom: 1%;
}
