.school-header {
    background: rgb(70, 12, 146);
}
.end {
    justify-items: end !important;
}
.end1 {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: rgb(159, 109, 252);
    border-radius: 20px;
}
.pt-120.head{
    color: rgb(34, 27, 139);
    font-weight: 500;
}
.primary-btn.text-uppercase.text {
    background: rgb(222, 238, 5);
    color: rgb(70, 12, 146);
    margin-left: 19px;
    font-weight: 600;
    box-shadow: 0px 10px 50px 0px rgba(26, 23, 23, 0.3)
}
.col-lg-12.partners.pt-30 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 20px;
    color: #222;
}
.partner.pt-20{
    background: #222222 !important;
}
.black {
    color: black !important;
}
.register {
    color: rgb(70, 12, 146);
    font-weight: 300;
    font-size: 40px;
    margin-right: -100px; 
    margin-top: 150px;
} 
.form-control.grey {
    background: rgb(199, 195, 195);
    color: #000 !important;
}
.pt-120{
    padding-left: 20px;
}
.image {
    padding-top: 60pt;

}
#register {
    font-size: 20px;
    font-weight: 300;
    color: rgb(70, 12, 146);
    text-align: center;
}
.sub-register{
    text-align: center;
    color: rgb(70, 12, 146);
    margin-left: 50px;
    font-size: 25px;
    padding-top: 10px;
}
.sub-register b {
    color: #000;
    text-transform: uppercase;
    color: rgb(70, 12, 146);
    font-weight: 600;
}
.register-form {
    margin-left: 50px;
    padding-top: 30px;
}
.register-form input {
    background: #c2bdbd;
    color: #000;
}
.school-select{
    height: 35px; 
    border: 2px solid blueviolet;
    background: #fff;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 50px;
}
#more {
    color: rgb(70, 12, 146);
    font-weight: 500;
}
#button{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-weight: bold;
}

 #main-header {
font-size: 50px;
color:#212293;
font-family: 'Montserrat', sans-serif;
margin-top:115px;
text-align: center;
}
/*
.log-in{
    height: 300px;
    margin-top: 60px;
  
}
.btn{
    width: 250px;
    height: 55px;
    margin: auto;
    border-radius: 9px;
    font-size: 12px;
    border:none;
    
}
.fa{
    float:left;
    top:10px;
    color:white;
}
.facebook{
    background-color:#3B5998;
}
.twitter{
    background-color:#1DA1F2;
}
.google{
    background-color:#DB4437
}

.btn p{
    padding-top: 10px;
    text-align: 40px;
    color:white;
}

.line {
    border-left: 1px solid #DCDCDC;
    height: 270px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top:70px;
}
.circle{
   
    border:1px solid #DCDCDC;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 65px;
    bottom: 130px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control  {
    background: rgb(199, 195, 195);
    margin:15px -30px 0;
    padding: 15px 25px;
    border-radius: 8px;
}
.password  {
    
    margin-top:-35px;
    }
.login{
    width:120px;
    margin-right:60px;
    margin-top: -14px;
    background:#FF5A5F;
    color: white;
}
.login h2{
    color:white;
}
.custom-control-label::before, 
.custom-control-label::after {

padding:10px
}
label{
    padding-top: 5px;
    margin-right: 5px;
    width:120px;
}
.main{
    width:800px;
}  
    
.submit{
    margin-bottom:20px;
} */



.main {
    
    height: 400px;
    width: 60vw;
    margin:auto;
    
    
}
.btn{
    width: 300px;
    height: 65px;
    margin: auto;
    border-radius: 9px;
    font-size: 12px;
    border:none;
    
}
.fa{
    float:left;
    top:10px;
    color:white;
}
.facebook{
    background-color:#3B5998;
}
.twitter{
    background-color:#1DA1F2;
}
.google{
    background-color:#DB4437
}

.btn p{
    padding-top: 13px;
    font-size: 17px;
    color:white;
}
.log-in{
    margin-top:50px;
    height: 70%;
    width:450px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    
}
.line {
    border-left: 1px solid #DCDCDC;
    height: 250px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top:68px;
}
.circle{
   
    border:1px solid #DCDCDC;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 38px;
    top: 165px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control  {
    background: rgb(199, 195, 195);
    padding: 23px 30px;
    border-radius: 8px;
    margin-left: 35px;
}
.user{
    margin-top: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:px;
    width:100%;
    margin-left: 20px;
    justify-content: space-between;
}
.login{
    width: 180px;
    background-color:#FF5A5F;
    
}
.login h2{
    color:white;
    padding-top: 6px;
}

.custom-control-label::before, 
.custom-control-label::after {

padding:12px;
margin-top:15px;
}
label{
    padding-left:10px;
    padding-top:20px;
}
.line2{
    height: 25px;
    top:282px;
    left:160px;
}
.reg{
    color:#FF5A5F;
    margin-top: 35px;
    font-size: 1rem;
    margin-left:20px;
}
.forgot{
    margin-left: 160px;
    margin-top: -35px;
}